@model RoleTopMVC.ViewModels.HistoricoViewModel;

<section id="lista-eventos">
    <table>
        <tr>
            <thead>
                <th rowspan="2">Data</th>
                <th rowspan="2">Horario</th>
                <th rowspan="2">Descrição</th>
                <th rowspan="2">Convidados</th>
                <th rowspan="2">Equipamentos</th>
                <th rowspan="2">Cartaz</th>
                <th rowspan="2">Status Evento</th>
            </thead>
        </tr>
        <tbody>
            @foreach (var dados in Model.Eventos)
            {
                <tr>
                <td>@dados.Agendado</td>
                <td>@dados.Horario</td>
                <td>@dados.DescricaoEvento</td>
                <td>@dados.NumeroConvidados</td>
                @if(dados.Som > 0 && dados.Luzes > 0)
                {
                    <td class="letras">Som e Luzes</td>
                }
                else if(dados.Som > 0 )
                {
                    <td class="letras">Som </td>
                }
                else if(dados.Luzes > 0 )
                {
                    <td class="letras">Luzes</td>
                }
                <td class="letras">Por Imagem</td>
                <br>
                
                @if(@dados.Status == 0)
                {
                    <td>Pendente</td>
                }
                else if(@dados.Status == 1)
                {
                    <td>Aprovado</td>
                }
                @if(@dados.Status == 2)
                {
                    <td id="reprovado">Reprovado</td>
                }
                </tr>
            }
        </tbody>
    </table>