@model RoleTopMVC.ViewModels.AgendarViewModel
<nav id="corpoIndex">
    <h2>Próximos Eventos</h2>
    @foreach (var evento in @Model.EventosPrincipal)
    {
        <br>
        <h2>@evento.NomeEvento</h2>
        <div class="evento">
        <img src="/imagens/@evento.Img">
        <p class="desc">@evento.DescricaoEvento</p>
        <p id="hora">Dia @evento.Agendado ás @evento.Horario</p>
    </div>
    <br>
    }
        <ul id="orcamento">
            <li>Faça Seu Orçamento</li>
        </ul>
    </div>
</nav>
